# we want to ignore .fasl files and temp files.#
################################################
*.fasl
*~

# Ignore the environment file - location-specific
environment

# Ignore private folders
private/
public/private/