* {

    font-family: serif;
    border: none;
    padding: 0;
    margin: 0;

}

ul.nav {

    float: left;
    border: solid;
    border-width: 2px;
    background-color: #FFFF88;
    list-style-type: none; 

}

h1#title {

   font-family: serif;

}

li {

    

}

body {

    background-image: url("paper_fibers.png");
    background-repeat: repeat;

}

#wrapper {
    
    padding-top: 10px;
    margin: 0 auto;
    width: 800px;
    background-color: #FFFFBB;

}