* {

    font-family: serif;
    border: none;
    padding: 0;
    margin: 0;

}

ul.nav {

    float: left;
    border: solid;
    border-width: 2px;
    background-color: #FFFF88;
    list-style-type: none; 

}

h1#title {

   font-family: serif;

}

li {

    

}

body {

    background-image: url("paper_fibers.png");
    background-repeat: repeat;
    height: 100%

}

#footer {

    font-size: 60%;
    

}

#wrapper {
    
    margin: 0 auto;
    margin-top: 10px;
    width: 800px;
    background-color: #FFFFBB;
    min-heigth: 100%;

}

#content {

    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
   

}

hr {

    border: solid;
    border-width: 2px;

}