* {

    font-family: serif;
    border: none;
    padding: 0;
    margin: 0;

}

#userinfo {

    float: right;
    font-size: smaller;

}

#header {

    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFFFBB;

}

ul.nav {

    border: solid;
    border-width: 2px;
    background-color: #FFFF88;
    list-style-type: none; 

}

h1#title {

   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.nav li {

    display: inline;
    padding-left: 10px;
    padding-right: 10px;

}

body {

    background-image: url("paper_fibers.png");
    background-repeat: repeat;

}

#footer {

    font-size: 70%;
    height: 80px;
    
    

}

#wrapper {
    
    margin: 0 auto;
    margin-top: 10px;
    width: 960px;
    padding: 10px;

}

#content {

    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    height: 70%;

}

a {

    text-decoration: none;
    color: #000000;

}

a:hover {

    text-decoration: underline;
    color: #220522;

}

a:visited {

    text-decoration: underline;
    color: #000000;

}

hr {

    border: solid;
    border-width: 2px;

}

#footer img {

    float: right;
    margin-top: -5px;

}
