#REPLHistory {

    width: 700px;
    margin-left: 130px;
    margin-right: 130px;
    height: 70%;

}

#REPL {

    margin-top: 10px;
    width: 700px;
    margin-left: 130px;
    margin-right: 130px;

}